*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    min-height: 380px;
    background-size: 550px 1350px ;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;

}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}


.contact-box{
	width: 950px;
    height: 580px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.19);
    border-radius: 2%;
}

.left{
	background: url("img/Login\ bg.png") no-repeat center;
	background-size: cover;
    height: 100%;
    width: 350px;
    border-radius: 2%;
    margin:0;

}
h1
{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-top: 180px;
    

}
.logo
{
    width: 225px;
    height: 50px;
   
}


.right{
    margin-right: 100px;
    width: 400px;
}
.logo1
{
    width: 225px;
    height: 50px;
    margin-bottom: 40px;

}
h2
{
    
    font-size: 20px;
    color: rgba(128, 128, 128, 0.641);

}
form
{
    margin-bottom: 100px;

}


.field{
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.134);
	outline: none;
	background-color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}





.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgb(15, 0, 128);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
   
}

.btn:hover{
    background-color: rgba(244, 25, 244, 0.979);
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}



.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
